In [1]:
# name 변수에 '홍길동'을 대입하고 age 변수에 18을 대입
name='홍길동'
age=18
print(name)
print(age)

홍길동
18

In [6]:
# c 에 7을 대입하고, 이 식의 값인 7을 b 에 대입하며, 마지막으로 7을 a 에 대입하여 a , b , c 모두에 7이 저장되도록 하기
c=10
b=c
a=b
print(a,b,c)

10 10 10

In [7]:
a+=10
print(a)

20

In [ ]:
a-=10
print(a)

In [10]:
# a 의 값인 7과 b 의 값인 11을 교환하는 프로그램
a=7
b=11
lab=a
a=b
b=lab
print(a)
print(b)

11
7

In [13]:
type(age)

int

In [14]:
type(name)

str

In [15]:
height=180.5
type(height)

float

In [16]:
flag=True
type(flag)

bool

In [18]:
# a 에 10진수 20을, b 에 8진수 34를, c 에 16진수 A1을, d 에 2진수 1110을 저장한 후 출력하는 프로그램
a=20
b=0o34
c=0xA1
d=0b1110
print(a,b,c,d)

20 28 161 14

In [19]:
a=10
b=20

In [20]:
c,d=30,40

In [23]:
a=10>20
print(a)
type(a)

False

bool

In [24]:
a='Python'
print(a)

Python

In [25]:
a='Hi'+'Python'
print(a)

HiPython

In [28]:
a=10
b='10'

In [29]:
c=a+int(b)
print(c)

20

In [34]:
c=a+float(b)
print(c)

20.0

In [47]:
name=input("이름을 입력")
age=input("나이를 입력")

이름을 입력홍길동
나이를 입력18

In [48]:
print(name)
print(age)

홍길동
18

In [49]:
type(age)

str

In [58]:
age=int(age)+2

In [60]:
# 사용자로부터 두 정수 9와 5를 입력받아 뺄셈한 후 출력하는 프로그램
a=int(input())
b=int(input())
c=a-b
print(a,b,c)
print(a)
print(b,end='')
print(c)

9
5
9 5 4
9
54

In [ ]:
name = "홍길동"
age = 30
greeting = f"안녕하세요, {name}님! 당신은 {age}살이시군요."
print(greeting)

In [62]:
r=int(input("원의 반지름을 입력하세요"))
a=3.14*r*r
b=f"반지름은 {r}이고, 넓이는 {a}입니다."
print(b)

5
반지름은 5이고, 넓이는 78.5입니다.