In [11]:
# 실습 2
# BMI의 키 단위는 미터(m)다. 따라서 cm으로 입력된 H값을 m로 바꿔줘야 한다.
# '예를 들어, 몸무게 55kg에 키가 1.68m인 사람의 BMI는  = 19.48696 이다.', 입출력 예 -> 다 한 코드 검증용으로 사용하기
# 함수 사용에 있어서 필요한 변수 카테고리: 4개
# 1. 함수 이름, 2. 함수 안의 문장을 정의하는 변수들 3. 함수 밖에서 함수 안에 넣어줄 변수(h,w), 4. 함수를 사용해서 얻은 값을 저장할 변수(bm)

def BMI_func(H, W) :
  bmi=W/(H/100)**2
  return round(bmi,2)

h=float(input())
w=float(input())
bm=BMI_func(h,w)
print(bm)

키를 입력하세요164
몸무게를 입력하세요46.78
17.39

In [ ]:
# input문 2개를 사용하지 않고, 한 줄에 A,B를 동시에 받는 방법
# 시험칠 때 input문 2개로 받아버리면 다 틀린다. Sample Input 1에서 1 2라고 되어 있으므로 반드시 한 줄에 다 받아야 한다.

a, b=map(int,input().split())
print(a+b)

In [ ]:
# 실습 1-1: 이메일 주소 분리하기
email = "user@example.com"
username, domain = email.split("@")
print(f"사용자명: {username}, 도메인: {domain}")

In [ ]:
# 실습 1-2: CSV 형식 데이터 처리
csv_data = "김철수,30,서울,개발자"
data_list=csv_data.split(",")
print(f"분리된 데이터: {data_list}")

In [14]:
# 실습 1-3: 경로 조합하기
folders = ["home", "user", "documents", "project"]
path=' '.join(folders)
print(f"경로: {path}")

경로: home user documents project

In [13]:
# 실습 1-4: 단어를 문장으로 만들기
words = ["Python", "is", "awesome"]
sentence=' '.join(words)
print(f"문장: {sentence}")

문장: Python is awesome

In [17]:
# 실습 2-1: 1~20까지 숫자 중 3의 배수만
multiples_of_3=[a for a in range(21) if a%3==0]
print(f"3의 배수: {multiples_of_3}")

3의 배수: [0, 3, 6, 9, 12, 15, 18]

In [21]:
# 실습 3-1: enumerate로 순위 매기기
scores = [95, 87, 92, 88]
print("성적 순위:")
for rank, score in enumerate(scores):
  print(f" {rank}등: {score}점")

성적 순위:
 0등: 95점
 1등: 87점
 2등: 92점
 3등: 88점

In [22]:
# 실습 3-2: zip으로 학생 정보 결합
students = ["철수", "영희", "민수"]
scores = [85, 92, 78]
grades = ["B", "A", "C"]
print("\n학생 성적표:")
for name, score, grade in zip(students, scores, grades):
  print(f" {name}: {score}점 ({grade}학점)")

학생 성적표:
 철수: 85점 (B학점)
 영희: 92점 (A학점)
 민수: 78점 (C학점)

In [24]:
# 실습 4-1: 섭씨를 화씨로 변환
celsius = [0, 10, 20, 30, 40]
fahrenheit=list(map(lambda x:(x*9/5)+32, celsius))
print(f"섭씨: {celsius}")
print(f"화씨: {fahrenheit}")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (ipython-input-2339070579.py, line 3)

In [27]:
# 실습 5-1: 양수만 필터링
numbers = [-5, 3, -1, 8, 0, -3, 7]
positive= list(filter(lambda x:x>0, numbers))
print(f"전체 숫자: {numbers}")
print(f"양수만: {positive}")

전체 숫자: [-5, 3, -1, 8, 0, -3, 7]
양수만: [3, 8, 7]