In [5]:
import numpy as np
import time
my_list = list(range(1_000_000))
start_time = time.time()
result_list = [x * 2 for x in my_list]
end_time = time.time()
print(f"파이썬 리스트 실행 시간: {end_time - start_time:.5f}초")
my_array = np.arange(1_000_000)
start_time = time.time()
result_array = my_array * 2
end_time = time.time()
print(f"넘파이 배열 실행 시간: {end_time - start_time:.5f}초")

파이썬 리스트 실행 시간: 0.08073초
넘파이 배열 실행 시간: 0.00181초

In [ ]:
numpy.arange([start, ]stop[, step, ]dtype=None)
import numpy as np

# 0부터 5까지 (5는 포함하지 않음) 1씩 증가하는 배열 생성
arr1 = np.arange(5)
print(arr1) # 출력: [0 1 2 3 4]

# 1부터 10까지 (10은 포함하지 않음) 1씩 증가하는 배열 생성
arr2 = np.arange(1, 10)
print(arr2) # 출력: [1 2 3 4 5 6 7 8 9]

# 0부터 10까지 (10은 포함하지 않음) 2씩 증가하는 배열 생성
arr3 = np.arange(0, 10, 2)
print(arr3) # 출력: [0 2 4 6 8]

# 부동 소수점으로 배열 생성
arr4 = np.arange(0.5, 5.5, 0.5)
print(arr4) # 출력: [0.5 1.  1.5 2.  2.5 3.  3.5 4.  4.5 5. ]

In [6]:
a = np.array([1,2,3,4,5])
a

array([1, 2, 3, 4, 5])

In [ ]:
b = np.array([[1, 2, 3], [4, 5, 6]])
b
# Q: 1행 1열의 숫자는 무엇인가? 1을 출력하려면 어떻게 해야 하는가?

In [ ]:
type(a)
type(b)

In [7]:
print(np.sum(a))

15

In [8]:
a = np.array([10, 20, 30, 40, 50])
condition_mask = (a > 25)
filtered_array = a[condition_mask]
print(filtered_array)

[30 40 50]

In [9]:
# 드론이 비행할 때, 이동 거리와 풍속에 따라 배터리 소모량이 어떻게 달라지는지 계산
distance = np.array([1, 2, 3, 5, 8])
windspeed = np.array([0, 5, 10, 7, 12])
basic = 10
additional = windspeed
total = basic + additional
battery = distance * total
print("비행 거리 (km):", distance)
print("풍속 (m/s):", windspeed)
print("총 소모율 (%/km):", total)
print("예상 배터리 소모량 (%):", battery)

비행 거리 (km): [1 2 3 5 8]
풍속 (m/s): [ 0  5 10  7 12]
총 소모율 (%/km): [10 15 20 17 22]
예상 배터리 소모량 (%): [ 10  30  60  85 176]

In [ ]:
import pandas as pd

# 'your_file.csv' 부분을 실제 파일 경로로 바꿔주세요.
df = pd.read_csv('iris.csv')

# 불러온 데이터프레임의 처음 5행을 출력하여 확인합니다.
display(df.head())
display(df.head(10))
display(df.tail())
print(df['id'])

In [ ]:
# SepalLength가 5 미만인 것만 추출
print(df(df['SepalLengthCm']<5))

In [ ]:
df1=df(df['SepalLengthCm']<5)
print(df1)